#Task-Form {
	box-sizing: content-box;
}

textarea {
	margin: 3px;
	padding: 3px;
	height: 45px;
	width: 90%;
	max-width: 300px;
}

input {
	margin: 3px;
	padding: 3px;
	height: 15px;
	width: 90%;
	max-width: 300px;
}

select {
	width: 90%;
	max-width: 310px;
	margin: 3px;
	padding: 3px;
}

button {
	margin: 3px;
	border-color: black;
	border-radius: 3px;
	background-color: #282c34;
	color: white;
}